version: '3'

services:
  reverseproxy:
    image: traefik:v2.0
    environment:
      TRAEFIK_PROVIDERS_DOCKER: "true"
      # services will be subdomain of this domain, you should have a wildcard
      # under the domain record pointed to this host.
      TRAEFIK_PROVIDERS_DOCKER_DEFAULTRULE: "Host(`{{ normalize .Name }}.mydomain.tld`)"
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: "web"
      TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS: ":443"
      TRAEFIK_API: "true"
      TRAEFIK_CERTIFICATESRESOLVERS_LE: "true"
      TRAEFIK_CERTIFICATESRESOLVERS_LE_ACME_EMAIL: "admin@mydomain.tld"
      TRAEFIK_CERTIFICATESRESOLVERS_LE_ACME_TLSCHALLENGE: "true"
    ports:
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./acme.json:/acme.json
    networks:
      - web
    labels:
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.tls.certresolver=le"
      - "traefik.http.routers.api.middlewares=bauth"
      # Generate a hash with:
      # echo $(htpasswd -nb user password) | sed -e s/\\$/\\$\\$/g
      - "traefik.http.middlewares.bauth.basicauth.users=myuser:PASS_HASH"
      - "traefik.http.middlewares.bauth.basicauth.removeheader=true"

networks:
  web:
    external: true
